:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed-primary-slower:.6s;
  --transition-speed-primary-faster: 150ms;
  --transition-speed-secondary-faster: 1s;
  --animation-speed-primary-slower: 6s;
  --animation-speed-primary-faster: .7s;
	--page-transition-speed-primary: .3s;
  --blue-primary: #5044ff;
  --my-white: #fff;
  --blue-secondary: #1100ff23;
  --my-pink: #E049A6;
	--font-mobile-primary : 14px;
	--font-mobile-secondary : 12px;
	--font-desktop-primary : 17px;
	--font-desktop-secondary : 14px;
}


/* Dark Theme */

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --button-highlight: blue;
  --bg-subtract: #3f3a578e;
  --bg-add: #3f3a578e;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --text-floogle: #363441;
  --bg-low-opacity: #1414181c;
  --my-turk: #18c2c2;
  --image-filter: grayscale(0) brightness(1.1) saturate(1);
  --display-primary: none
}

/* Light Theme */

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-subtract: rgba(0, 0, 255, 0.199);
  --bg-add: rgba(0, 0, 255, 0.199);
  --button-highlight: blue;
  --bg-secondary: #e4e4e4;
  --text-floogle: #dfdfdf;
  --bg-low-opacity: #1414181c;
  --my-turk: #76b7f3;
  --image-filter: grayscale(0) brightness(1.1) saturate(1);
	
  --display-primary: flex
}

/* Solar Theme */

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
  --text-floogle: #ececec;
}